<!-- Four Unequal Columns -->
<app-header></app-header>
<div class="row">
    <div class="col-12">
    <carousel>
    <slide>
        <img src="assets/images/banner_big.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/banner_big.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/banner_big.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
    </carousel>        
  </div>
 </div>

<div class="seperater"></div>

<section class="offer_sec">
<div class="row">
<div class="col-12">
    <h4 class="common_orng_title paddingright50"><span>UPCOMING ROOMS</span></h4>   
</div>
</div>

<div class="row">
    <div class="col-4"><img class="img-fluid" src="assets/images/dashboard_img.jpg"></div>
    <div class="col-4"><img class="img-fluid" src="assets/images/dashboard_img.jpg"></div>
    <div class="col-4"><img class="img-fluid" src="assets/images/dashboard_img.jpg"></div>
</div>
</section>