<h3 class="text-center" mat-dialog-title>Change Password</h3>
<!-- <div mat-dialog-content>
    <p>Change Password</p>

</div> -->
<div class="customseperator"></div>

<div mat-dialog-actions>
    <form [formGroup]="editpassword" class="inputpadding" (ngSubmit)="onFormSubmit(editpassword.value)">
        <div class="form-group row">
            <div class="col-sm-5">
                <label for="oldPassword">Current Password: </label>
            </div>
            <div class="col-sm-6">
                <input name="oldPassword" formControlName="oldpassword" ng-trim="true" (keyup)="valuenull()" [ngClass]="{ 'pass-invalid':submit&&( pass.oldpassword.errors!==null) }"
                    type="password" placeholder="Old Password" />
            </div>
            <span class="errormessage" *ngIf="submit&&( pass.oldpassword.errors!==null)">*Required</span>
        </div>
        <div class="customseperator"></div>
        <div class="row"> </div>
        <div class="form-group row">
            <div class="col-sm-5">
                <label for="newPassword">New Password: </label>
            </div>
            <div class="col-sm-6 ">
                <input name="newPassword" (keyup)="validateequal()" formControlName="password" [ngClass]="{ 'pass-invalid': submit&&(pass.password.errors!==null) }"
                    type="password" placeholder="New Password" />
            </div>
            <span class="errormessage" *ngIf="submit&&( pass.password.errors!==null)">*Required</span>
        </div>
        <div class="customseperator"></div>
        <div class="form-group row">
            <div class="col-sm-5">
                <label for="cnfPassword">Confirm Password: </label>
            </div>
            <div class="col-sm-6">
                <input name="cnfPassword" (keyup)="validateequal()" formControlName="cnfpassword" [ngClass]="{ 'pass-invalid': submit&&(pass.cnfpassword.errors!==null) }"
                    placeholder="Confirm Password" type="password" />
            </div>
            <span class="errormessage" *ngIf="submit&&(pass.cnfpassword.errors!==null)&&( pass.cnfpassword.errors.required===true)">*Required</span>
            <span class="errormessage" *ngIf="passmatch">*Password does not match</span>
        </div>
        
        <div class="row">
            <span class="errormessageserver" *ngIf="messageshow">{{messageshow}}</span>
        </div>
        <div class="row">
            <span class="successmessage" *ngIf="messagesuccess">{{messagesuccess}}</span>
        </div>
        <div  *ngIf="loading" class="row">
            <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        </div>
        <div class="customseperator"></div>
        <button type="submit" class="btn_cstm_passwordpopup text-center" style=" width: 100%;" on-click="deleteassest(data.id)">Change</button>
    </form>
    <!-- <button mat-button (click)="onNoClick()">Cancel</button>

<button mat-button  on-click="deleteassest(data.id)" cdkFocusInitial>Ok</button> -->
</div>