.example-form {
    width: 100%;
    }
    .example-full-width {
    width: 100%;
    }
    .customseperator {
        clear: both;
        height: 40px;
    }
    .custom_btn{
        text-align: right;
    }
    .error_msg{
        color: #f44336;
        font-size: 12px;
    }
 .form_title
{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
color:#33495d;
}
.errormessageserver{
    color: #ff0000;
    margin-left: 16px;
    font-family: 'Montserrat', sans-serif;
font-weight: 500;
}

.invalid_name{   
        
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
