
.example-form {
    width: 100%;
    }
    .example-full-width {
    width: 100%;
    }
    .customseperator {
        clear: both;
        height: 40px;
    }
    .custom_btn{
        text-align: right;
    }
    
.thumb{
    background-color:#33495d;
    border: none;
    color: #ffffff;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 20px;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.progress .progress-bar{
    height: 100%!important;
    background-color: #33495d!important;
    border-radius: 1rem;
}
label{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
label.uploadfilename{
    margin-left: 12px;
}

label.buildlabel strong{
  
    font-weight: 600!important;
    font-size: 26px;
}
.progress{
    display: flex!important;
    height: 0.7rem;
    overflow: hidden;
    /* font-size: 0.75rem; */
    background-color: #b9bcbf;
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress .progress-bar{
    animation: progress-bar-stripes 2s linear infinite;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
}

.errormessage{
    color: #c7130d;
    margin-left: 16px;
}

label.labelbuild1{
    color: #33495d;
}

label.labelbuild2{
    color: #027502;
    font-weight: 600;
}

label.completeupload{
    float: right;
    clear: both;
}

.save_btn{
    margin-top: 15px;
}
.succes{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #027502;
}
.errors{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #c7130d;
}