/* nav{
    min-height: 662px;
} */.sidebar-nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;    
     }
     /* .site-title img {
        border-bottom: 2px solid;
        border-bottom-color: #fff;
    }
    
.site-title[_ngcontent-c2] img[_ngcontent-c2] {
    border-bottom: 2px solid;
    border-bottom-color: #fff;
    padding-bottom: 18px;
}
 */
