<div class="site-title"><a href='http://livefurnish.com'><img src="assets/images/logo1.jpg" alt=""></a></div>
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
<ul class="nav nav-pills flex-column sidebar-nav">
  <li class="nav-item"><a class="nav-link"  [routerLink]="['admin-dashboard']" [routerLinkActive]="['active']"> Dashboard <span class="sr-only">(current)</span></a></li>
  <!-- <li class="nav-item"><a class="nav-link"   [routerLink]="['imagecredits']" [routerLinkActive]="['active']"> Image Credits</a></li> -->
  <!-- <li class="nav-item"><a class="nav-link"  [routerLink]="['catalogue']" [routerLinkActive]="['active']" > Catalogue</a></li> -->
  <!-- <li class="nav-item"><a class="nav-link"   [routerLink]="['profile']" [routerLinkActive]="['active']"> Profile</a></li> -->
  <!-- <li class="nav-item"><a class="nav-link"   [routerLink]="['support']" [routerLinkActive]="['active']"> Support</a></li> -->
  <!-- <li class="nav-item"><a class="nav-link"   [routerLink]="['payment']" [routerLinkActive]="['active']"> Payment</a></li> -->
  <!-- <li class="nav-item"><a class="nav-link"   [routerLink]="['forums']" [routerLinkActive]="['active']"> Forums</a></li> -->
  <li class="nav-item"><a class="nav-link"  [routerLink]="['assetsbundle']" [routerLinkActive]="['active']" > Asset bundle add</a></li>
  <li class="nav-item"><a class="nav-link"  [routerLink]="['assetsbundlelist']" [routerLinkActive]="['active']" > Asset bundle List</a></li>
  <li class="nav-item"><a class="nav-link"  [routerLink]="['category']" [routerLinkActive]="['active']" >Category</a></li>
  <li class="nav-item"><a class="nav-link"  [routerLink]="['categorylist']" [routerLinkActive]="['active']" >Category List</a></li>
  <li class="nav-item"><a class="nav-link"  [routerLink]="['searchtag']" [routerLinkActive]="['active']" >Search Tag</a></li>
  <li class="nav-item"><a class="nav-link"  [routerLink]="['searchtaglist']" [routerLinkActive]="['active']" >Search Tag List</a></li>
  <li class="nav-item"><a class="nav-link"  [routerLink]="['adminuserlist']" [routerLinkActive]="['active']" >User List</a></li>
  <li class="nav-item"><a class="nav-link"  [routerLink]="['builds']" [routerLinkActive]="['active']" >Build Files</a></li>
</ul>