<div class="site-title"><a href='http://livefurnish.com'><img src="assets/images/logo1.png" alt=""></a></div>
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
<ul class="nav nav-pills flex-column sidebar-nav">

  <li class="nav-item"><a class="nav-link " on-click="activeactivate($event,0)" [routerLink]="['dashboard']" [routerLinkActive]="['active']"  > Dashboard <span class="sr-only">(current)</span></a></li>
  <li class="nav-item"><a class="nav-link" on-click="activeactivate($event,1)"   [routerLink]="['imagecredits']" [routerLinkActive]="['active']"> Image Credits</a></li>
  <!-- <li class="nav-item"><a class="nav-link " on-click="activeactivate($event,2)"  [routerLink]="['catalogue']" [routerLinkActive]="['active']" > Catalogue</a></li> -->
  <li class="nav-item"><a class="nav-link" on-click="activeactivate($event,3)"   [routerLink]="['profile']" [routerLinkActive]="['active']"> Profile</a></li>
  <!-- <li class="nav-item"><a class="nav-link" on-click="activeactivate($event,4)"   [routerLink]="['support']" [routerLinkActive]="['active']"> Support</a></li> -->
  <!-- <li class="nav-item"><a class="nav-link" on-click="activeactivate($event,5)"   [routerLink]="['payment']" [routerLinkActive]="['active']"> Payment</a></li> -->
  <!-- <li class="nav-item"><a class="nav-link" on-click="activeactivate($event,6)"   [routerLink]="['forums']" [routerLinkActive]="['active']"> Forums</a></li> -->
</ul>