.align-center
{
    text-align: center;
}
.prev {
    float: left;
}
.next {
    float: right;
}
.prev a {
    background: white;
    padding: 5px 15px;
    line-height: 1px;
    color: #33495d;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #33495d;
}
.next a {
    background: white;
    padding: 5px 15px;
    line-height: 1px;
    color: #33495d;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #33495d;
}
.prev_next {
    padding-top: 20px;
}