<header class="page-header">
  <div class="image_icon" id="img_icon">
    <img *ngIf="profile_image!==null" src="{{profile_image}}" on-click="showprofile()"alt="profile" id="user_icon" #suggestboxicon>
    <img *ngIf="profile_image===null" src="assets/images/profile.png" on-click="showprofile()"alt="profile" id="user_icon" #suggestboxicon>
 </div>
  <div class="dropdown user-dropdown  text-center text-md-right right_box" *ngIf="showdivprofile">
    <a class="btn btn-stripped" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="username mt-1 " #suggestbox>
      <img *ngIf="profile_image!==null" src="{{profile_image}}"  alt="profile" class="user-Pro">
      <img *ngIf="profile_image===null" src="assets/images/profile.png"  alt="profile" class="user-Pro">
      <h6 class="mb-1">{{firstName}} {{lastName}}</h6>
      <span class="text-muted">{{emailId}}</span>
      <h6 class="edit_pro title_pro1"  on-click="editprofile()">Edit Profile</h6>
      <h6 class="sign_out  title_pro1" on-click="logout()">Sign Out</h6>
    </div>
    </a>
    <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
       <a class="dropdown-item" href="#"><em class="fa fa-user-circle mr-1"></em> View Profile</a>
         <a class="dropdown-item" href="#"><em class="fa fa-sliders mr-1"></em> Preferences</a>
         <a class="dropdown-item" href="#"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
  </div>
  <div class="clear"></div>


</header>
