<app-header></app-header>
<div class="row">
    <div class="col-12">
      <div class="top_sec ">
      <h1>Support<span>desk</span></h1>
      <h2>Welcome to our online Supportdesk</h2>
     </div>
</div>
</div>
<div class="seperater"></div>
<div class="container">
        <div class="row">
            <div class="col-md-5 email_msg">
               <h2 class="orng_txt">EMAIL US</h2>
                <form class="bot_box1">
                    <div class="form-group row">
                        <div class="col-sm-12">                           
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>                        
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">                         
                            <input type="text" class="form-control" id="email" placeholder="Email">
                        </div>                       
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="textarea" class="form-control" id="message" placeholder="Message">
                        </div>     
                    </div>                  
                    <button type="button" class="btn btn-primary btn_cstm_cmmn px-4">Submit</button>
                </form>
            </div>
            <div class="col-md-5 offset-1 email_msg">
                <h2 class="orng_txt" >CHAT WITH US</h2>
                 <form>                 
                     <div class="form-group row">
                         <div class="col-sm-12">
                             <input type="textarea" class="form-control box_right" id="message" placeholder="Write your Message">
                         </div>     
                     </div>                  
                     <button type="button" class="btn btn-primary btn_cstm_cmmn px-4">Start</button>
                 </form>
             </div>
        </div>
    </div>
