<div class="bg"></div>
<div class="backbuttondiv">
  <button type="button" (click)="changepredefined()" class="btn btn-primary backbutton">Back To Home</button>
</div>
<div class="top_secform ">
  <div class="top_sec ">
    <h1>Forgot Password</h1>
  </div>
  <form [formGroup]="forgotpasswordform" (ngSubmit)="onSubmit(forgotpasswordform.value)">
    <div class="form-group">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Email Id</mat-label>
        <input formControlName="email" type="email" matInput placeholder="Email Id">
        <div *ngIf="show_message && submitted" style="color:red">{{message_return}}</div>
        <div *ngIf="show_messagetrue && submitted" class="alrt_msg" style="color:green">{{message_return}}</div>
      </mat-form-field>
    </div>
    <div *ngIf="show_messagetrue && submitted" style="margin-bottom: 12px;">
      <a  (click)="changepredefined()" class="proceed_login"> 
        <i class="fa fa-arrow-left" aria-hidden="true"></i> <label class="forget_cls">Proceed to Home</label> </a>
    </div>
    <div class="form-group" class="example-full-width">
      <button type=submit [disabled]="loading" class="btn btn-primary example-full-width">Submit</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />

    </div>
  </form>
</div>